#intro-overlay {
  position: fixed;
  inset: 0;
  z-index: 999999;

  overflow: hidden;

  opacity: 1;
  visibility: visible;

  transition: opacity 0.8s ease;
}

#intro-overlay.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

html.intro-active,
body.intro-active {
  overflow: hidden !important;
}
